main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

article {
    box-shadow: var(--shadow);
    padding: 20px;
}

.highlighted {
    grid-column: 1/-1;
}
